h1{color:lightsteelblue;font-size:2em;margin:0 ;padding:0;text-align: center}
ul{list-style: none}
pre{font-family:monospace,monospace;font-size:1em;}
.toolbar-item {
    color: white;
}
.scene-toolbar{
    display: block;
    width: 64px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    left: 0;
    top: 40px;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color:#263238;
}
.fullWindow{
    display: block;
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #263238;
}
.scene-toolbar .toolbar-item{
    height: 75px;
    text-align: center;
    padding-top: 10px;
    box-sizing: border-box;
    font-size: 10pt;
}
.scene-toolbar .toolbar-item i{
    width: 25px;
    height: 25px;
    display: block;
    margin:0 auto 6px;
}
.scene-toolbar .toolbar-item i img{
    border-radius:50% ;
}
.scene-toolbar .toolbar-item .active,.scene-toolbar .toolbar-item:hover{
    background: rgba(0,0,0,.4);
}
.scene-mask{transition:all .2s ease;background: rgba(0,0,0,.5);position: absolute;top: 0;right: 0;left:0;bottom: 0;display: none;z-index:1;}
.scene-mask.active{display: block;}
/*二级工具条*/
.secondToolBarPanel .title .close-panel {
    width: 12px;
    height: 12px;
    margin-top: 24px;
    float: right;
    /*background: url(images/close-panel.png) no-repeat center;*/
    background-size: 12px 12px;
    cursor: pointer;
    opacity: 0.8;
}
.secondToolBarPanel{transition:all 0.5s ease;position: absolute;left: -300px;top: 0;width: 300px;height:100%;background: #eceff1;box-shadow: 0 5px 10px rgba(0,0,0,0.54);}
.secondToolBarPanel.active{left: 64px;z-index: 999;display: none;background-color: rgba(255,255,255,0.3);}
.secondToolBarPanel .s-toolbar-item{height: 100%;}
.secondToolBarPanel .title{height: 60px;color:#333;margin-bottom:0px;border-bottom-style:inset;font-size: 18px;background:#FFF;line-height: 60px;padding:0 20px;box-shadow:0px 1px 2px rgba(153, 153, 153, 0.4);}
.secondToolBarPanel .title .close-panel{width:18px;height:18px;margin-top: 24px;float:right;background:no-repeat center;background-image: url("../images/close-panel.png");background-size: 18px 18px;cursor: pointer;opacity: 0.8;}
.secondToolBarPanel .title .close-panel:hover{opacity: 1;}
.secondToolBarPanel .body{background: #FFF;box-shadow:0px 1px 2px rgba(153, 153, 153, 0.4);color: #333;max-height: calc(100% - 65px);overflow-y: auto;}
/*tree   background-color: rgba(255,255,255,0);*/
.ztree *{font-size: 14px;}
.ztree li a{color:#333;padding-right: 0;}
.tree-box li a{width: calc(100% - 44px);overflow: hidden;white-space: nowrap;text-overflow: ellipsis;}
.tree-box li a:hover{    background-color: #e7e7e7;}
.tree-box li a .node_name{width: calc(100% - 18px);margin-right: 0;/*min-width:182px;*/display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.tree-box .node_name.delete{position: relative;}
.tree-box .node_name.delete:after{content: "已删除";position: absolute;right:0;top: 0;background: #FF0000;color:#FFF;padding: 0 2px;border-radius: 2px;}
.ztree li span.button{background-image:url("../images/feasibility.png") }
.ztree li a.curSelectedNode{ background-color: #e7e7e7;border: 1px #cacaca solid;color: #000;}

.secondToolBarPanel .tool-small-title{font-weight: bold;color: #333;padding-left: 20px;height: 38px;line-height: 38px;}
.secondToolBarPanel .analysis-box .analysis-item .tool-thum{transition:all .2s ease;width: 50px;height: 50px;margin:0 auto;border-radius: 50%;margin-bottom: 10px;}
.secondToolBarPanel .analysis-box .analysis-item.dis .tool-thum{background:#fd960f;}
.secondToolBarPanel .analysis-box .analysis-item.polygon .tool-thum{background:#00bcd4;}
.secondToolBarPanel .analysis-box .analysis-item.deg .tool-thum{background:#9228ac;}
.secondToolBarPanel .analysis-box .analysis-item.coor .tool-thum{background:#999999;}
#eye {
        position: absolute;
        width: 26%;
        height: 40%;
        bottom: 0;
        right:0px;
        z-index: 999;
        background: #263238;
        border: solid #263238 1px;
    }
#changeBtn{
            position:absolute;
            right:0px;
            bottom:0px;
            z-index: 999;
            width:25px;
            height:25px;
            margin:0;
            padding:0;
            border:0;
            background-color: rgba(255,255,255,0.3)
}
#rightEcharts {
        position: absolute;
        width: 18%;
        height:25%;
        top: 2.65em;
        right:0;
        z-index: 999;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
    }
.flex-item {
    background-color: rgba(255,255,255,0);
    width: 99%;
    height: 100%;
    z-index: 999;
    margin: 2px;
    border-radius: 1%;
}
div.panel:first-child {
    margin-top:20px;
}

div.treeview {
    min-width: 100px;
    min-height: 100px;
    max-height: 256px;
    overflow:auto;
    padding: 4px;
    margin-bottom: 20px;
    color: #369;
    border: solid 1px;
    border-radius: 4px;
}
div.treeview ul:first-child:before {
    display: none;
}
.treeview, .treeview ul {
    margin:0;
    padding:0;
    list-style:none;

    color: #369;
}
.treeview ul {
    margin-left:1em;
    position:relative
}
.treeview ul ul {
    margin-left:.5em
}
.treeview ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    left:0;
    border-left:1px solid;
    bottom:15px;
}
.treeview li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    font-weight:700;
    position:relative
}
.treeview ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:1px;
    position:absolute;
    top:1em;
    left:0
}
.tree-indicator {
    margin-right:5px;

    cursor:pointer;
}
.treeview li a {
    text-decoration: none;
    color:inherit;

    cursor:pointer;
}
.treeview li button, .treeview li button:active, .treeview li button:focus {
    text-decoration: none;
    color:inherit;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}
.leaflet-popup {
    position: absolute;
    text-align: center;
}
.leaflet-popup-close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 4px 0 0;
    text-align: center;
    width: 18px;
    height: 14px;
    font: 16px/14px Tahoma, Verdana, sans-serif;
    color: #c3c3c3;
    text-decoration: none;
    font-weight: bold;
    background: transparent;
}
.leaflet-popup-content-wrapper {
    text-align: center;
    max-height: 300px;
    overflow-y: auto;
    background: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    padding: 1px;
    text-align: left;
    border-radius: 12px;
}
.leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
    height: 140px;
}
.leaflet-popup-tip-container {
    margin: 0 auto;
    width: 200px;
    height: 100px;
    position: relative;
    overflow: hidden;
}
.leaflet-popup-tip {
    background: white;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    width: 17px;
    height: 17px;
    padding: 1px;
    margin: -10px auto 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}


